body, html {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 110%;
}

#main {
    border: 10px solid;
    border-radius: 30px;
}

#header {
    border: 5px solid;
    text-align: center;
}

/*BELOW THIS IS THE CSS PROPERTIES OR STYLES FOR THE PHONE*/

.phone-container {
    border: 5px solid;
    margin: 10px;
    width: 500px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: repeat(2, 70px);
    grid-gap: 10px;
    justify-content: center;
    background-color: pink;
}

.header {
    border: 5px solid;
    text-align: center;
    font-size: 30px;
}

.applications {
    border: 2px solid;
}

.app1,
.app2,
.app3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.app-image {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

/*BELOW THIS IS THE CSS PROPERTIES OR STYLES FOR CALCULATOR APPLICATION*/

.calculator-container {
    border: 5px solid;
    margin: 10px;
    width: 500px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: black;
}

.item {
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: gray;
    font-size: 20px;
    font-weight: bold;

    transition: background-color 0.50s;
}

.item:hover {
    background-color: gold;
}

.item-1 {
    grid-column: span 4;
    font-size: 40px;
    border-radius: 10px;
    text-align: right;
    background-color: silver;
}

.operator {
    background-color: hsl(39, 95%, 29%);
}

/*BELOW IS THE CSS PROPERTIES FOR ANOTHER APPLICATION AND ABOVE IS THE
CSS PROPERTIES FOR CALCULATOR*/

.guess-container {
    border: 5px solid;
    margin: 10px;
    width: 500px;
    height: 650px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.title,
.comment,
.input-here {
    grid-column: span 3;
    margin: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.buttons {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: bold;
    background-color: silver;
    cursor: pointer;

    transition: background-color 0.50s;
}

.buttons:hover {
    background-color: gold;
}

/*BELOW THS IS THE CSS PROPERTIES OR STYLES FOR PRACTICE.HTML*/

.practice-container {
    border: 5px solid;
    width: 500px;
    height: 650px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 50px;
}

.click-here {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: gray;
    cursor: pointer;

    transition: background-color 0.75s;
}

.click-here:hover {
    background-color: gold;
}