html {
    font-size: 20px;
    height: 100vh;
}

body {
    font-size: 1rem;
    background-color: silver;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
}

/*my root element is 20px so 1rem is equivalent to 20px*/

.container {
    border: 0.1rem solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
}

.container h1 {
    font-size: 2rem;
}

.container a {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    transition: background-color 200ms, color 200ms;
}

.container a:hover {
    background-color: hsl(0, 0%, 60%);
    border-radius: 0.5rem;
    color: hsl(0, 0%, 100%);
}

/*below this comment is the css properties for login form*/

.main-area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20rem;
    min-height: 20rem;
    box-shadow: 0.75rem 0.75rem 1.25rem;
}

#main img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 0.1rem solid;
}

#main label {
    font-size: 1rem;
}

#main input {
    width: 75%;
    height: 1.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 0.7rem;
    margin: 0.5rem;
    transition: background-color 200ms;
}

#main input:focus {
    background-color: hsl(0, 0%, 90%);
}

#main button {
    width: 50%;
    height: 1.75rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 200ms;
    box-sizing: border-box;
}

#main button:hover {
    animation: jump 1000ms;
    background-color: hsl(51, 80%, 50%);
}

#main a {
    font-size: 1rem;
}

@keyframes jump {
    20% {
        transform: translateY(-10%);
    }
}

#main a {
    color: black;
    margin-top: 0.5rem;
}

#footer {
    border: 0.1rem solid;
    text-align: center;
    background-color: hsl(0, 0%, 50%);
}

#footer p {
    margin: 0;
    font-size: 1rem;
}

#footer p a {
    color: black;
}

/*media query for responsiveness below this comment*/

@media (max-width: 680px) {
    .container .item header h1 {
        font-size: 1.8rem;
        margin: 0.7rem;
    }

    .container a {
        padding: 0.5rem 1.4rem;
    }
}

@media (max-width: 673px) {
    .container .item header h1 {
        font-size: 1.6rem;
    }

    .container a {
        padding: 0.45rem 1.3rem;
        font-size: 0.8rem;
    }

    #main label {
        font-size: 0.8rem;
    }

    #main input {
        width: 70%;
    }

    #main button {
        width: 40%;
        font-size: 0.8rem;
    }

    #main a {
        font-size: 0.8rem;
    }

    #footer p {
        font-size: 0.8rem;
    }
}

@media (max-width: 592px) {
    .container .item header h1 {
        font-size: 1.5rem;
    }

    .container a {
        padding: 0.4rem 1.25rem;
    }

    #main article {
        min-width: 18rem;
        min-height: 18rem;
    }

    #main img {
        width: 4.5rem;
        height: 4.5rem;
    }

    #main label {
        font-size: 0.7rem;
    }

    #main input {
        width: 65%;
    }

    #main button {
        width: 35%;
        font-size: 0.7rem;
    }

    #main a {
        font-size: 0.7rem;
    }

    #footer p {
        font-size: 0.7rem;
    }
}

@media (max-width: 574px) {
    .container .item header h1 {
        font-size: 1.4rem;
    }

    .container a {
        padding: 0.4rem 1.1rem;
    }
}

@media (max-width: 541px) {
    .container .item header h1 {
        font-size: 1.3rem;
    }

    .container a {
        padding: 0.4rem 1rem;
    }

    #main label {
        font-size: 0.65rem;
    }

    #main button {
        width: 30%;
        font-size: 0.55rem;
    }

    #main a {
        font-size: 0.65rem;
    }
}

@media (max-width: 516px) {
    .container .item header h1 {
        font-size: 1.2rem;
    }
}

@media (max-width: 506px) {
    .container .item header h1 {
        font-size: 1.1rem;
    }

    .container a {
        padding: 0.4rem 0.8rem;
    }
}

@media (max-width: 465px) {
    .container .item header h1 {
        font-size: 1rem;
    }
}

@media (max-width: 456px) {
    .container .item header h1 {
        font-size: 0.9rem;
    }

    .container a {
        padding: 0.4rem 0.7rem;
        font-size: 0.8rem;
    }

    #main button {
        height: 1.6rem;
    }
}

@media (max-width: 430px) {
    .container .item header h1 {
        font-size: 0.8rem;
    }

    .container a {
        padding: 0.4rem 0.65rem;
        font-size: 0.7rem;
    }

    #main button {
        width: 25%;
        height: 1.45rem;
    }
}

@media (max-width: 413px) {
    .container a {
        padding: 0.35rem 0.6rem;
        font-size: 0.7rem;
    }

    #main article {
        min-width: 16rem;
        min-height: 16rem;
    }

    #main button  {
        font-size: 0.5rem;
    }
}

@media (max-width: 381px) {
    .container .item header h1 {
        font-size: 0.7rem;
        margin: 0.5rem;
    }

    .container a {
        padding: 0.3rem 0.5rem;
    }

    #main img {
        width: 4rem;
        height: 4rem;
    }

    #main label {
        font-size: 0.6rem;
    }

    #main input {
        width: 60%;
        font-size: 0.6rem;
    }

    #main button {
        width: 20%;
        height: 1.3rem;
        font-size: 0.5rem;
    }
}

@media (max-width: 349px) {
    .container .item header h1 {
        font-size: 0.6rem;
        margin: 0.4rem;
    }

    .container a {
        padding: 0.3rem 0.45rem;
        font-size: 0.6rem;
    }

    #footer p {
        font-size: 0.6rem;
    }
}

@media (max-width: 304px) {
    .container a {
        padding: 0.3rem 0.4rem;
    }

    #main article {
        min-width: 14rem;
        min-height: 14rem;
    }

    #main img {
        width: 3rem;
        height: 3rem;
    }

    #main label {
        font-size: 0.5rem;
    }

    #main input {
        height: 1.4rem;
        font-size: 0.5rem;
    }

    #main button {
        height: 1.2rem;
        font-size: 0.4rem;
    }

    #main a {
        font-size: 0.5rem;
    }
}