body, html {
    background-color: silver;
    height: 100%;
    width: 100%;
    font-size: 110%;
    margin: 0;
}

.container {
    min-height: 100vh;
    min-width: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: minmax(3, auto);
    text-align: center;
    grid-gap: 10px;
}

.item-container {
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(30px, auto);
    border-radius: 10px;
}

.item {
    border: 1px solid;
}

.item-in-item1 {
    grid-column: span 3;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
    border-radius: 50%;
    object-fit: cover;
}

.item-in-item2 {
    grid-column: span 3;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    height: 30px;
}

.item-in-item3,
.item-in-item4,
.item-in-item5 {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: lightblue;
    border: 1px solid;
    height: 30px;

    transition: background-color 0.50s;
}

.item-in-item3:hover,
.item-in-item4:hover,
.item-in-item5:hover {
    background-color: gold;
}